# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Logs
*.log

# Virtual environments
venv/
env/

# IDE and editor files
.vscode/
.idea/
*.swp

# Compiled files
*.so

# PHP-specific files
/vendor/

# Node.js dependencies (if applicable)
node_modules/
